/* rgb 

boton 227,8,19
hover btn 244,6,18
grey 48,48,48

footer 117,117,117 and 153,153,153 */

* {
    font-family: 'Open Sans', sans-serif;
}

#head {
    background-image: url(img/coverf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

#logo {
    width: 200px;
    margin-left: 2%;
}

#sign {
    background-color: rgb(227, 8, 19);
    color: white;
    font-size: 18px;
    margin: 0 2%;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
}