/* rgb 

boton 227,8,19
hover btn 244,6,18
grey 48,48,48

footer 117,117,117 and idioma 153,153,153 */

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#head {
    background-image: url(img/cover3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    border-bottom: 8px solid rgb(34, 34, 34);
}

#logo {
    width: 200px;
    left: 30px;
    position: absolute;
}

#sign {
    background-color: rgb(227, 8, 19);
    font-size: 15px;
    margin: 0 2%;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

#homemsg {
    padding-top: 200px;
    text-align: center;
    width: 900px;
    margin: auto;
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h1 + p {
    font-size: 28px;
}

p {
    letter-spacing: 1px;
}

#mail {
    font-size: 15px;
    padding: 27px 30px;
    border: none;
    width: 430px;
    margin: 1px;
    float: left;
    color: black;
}

.btn {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 22px 5px;
    width: 400px;
    background-color: rgb(227, 8, 19);
    cursor: pointer;
    border: none;
    margin: 1px;
    /* float: left; */
}

.btn:hover {
    background-color: rgb(244, 6, 18);
}

.segunda {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    border-bottom: 8px solid rgb(34, 34, 34);
    padding: 80px 0 40px;
}

.textele {
    width: 550px;
    padding: 0px;
    letter-spacing: -1px;
    margin: 0 10px;
}

h2 {
    padding-top: 20px;
    font-size: 45px;
    margin-bottom: 0px;
}

h2 + p {
    font-size: 22px;
    font-weight: 600;
}

#preguntas {
    border-bottom: 8px solid rgb(34, 34, 34);
    padding-bottom: 80px;
}

.faq {
    width: 800px;
    margin: auto;
    text-align: center;
}

.faq h2 {
    margin-bottom: 47px;
}

.collapsible {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    padding: 20px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    margin-top: 8px;
}

.collapsible:after {
    content: '\2795';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2716";
    margin-right: 8px;
}

.content {
    padding: 0px 25px;
    margin: 2px 0px 2px;
    text-align: left;
    font-size: 25px;
    letter-spacing: 0ch;
    font-weight: 600;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    overflow: hidden;
    background-color: rgb(48, 48, 48);
}

#rdy {
    margin-top: 80px;
}

.btn2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 22px 5px;
    width: 300px;
    background-color: rgb(227, 8, 19);
    cursor: pointer;
    border: none;
    margin: 1px;
}

.btn2:hover {
    background-color: rgb(244, 6, 18);
}

#footer{
    width: 900px;
    margin: auto;
}

a {
    color: rgb(117, 117, 117);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 90px;
    font-size: 13px;
}

li {
    margin: 15px 0;
}

.listas {
    display: flex;
}

#lang {
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: rgb(153, 153, 153);
}

#questi {
    margin-top: 80px;
    font-size: 15px;
    color: rgb(117, 117, 117);
}

#where {
    margin: 30px 0;
    font-size: 13px;
    color: rgb(117, 117, 117);
}